<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
   
    <title>Home</title>
</head>
<body>
    <div class="container">

        <form th:action="@{/logout}" method="get">
            <button class="btn btn-md btn-danger btn-block" name="registration"
                    type="Submit">Logout
            </button>
        </form>
    
        <div class="panel-group" style="margin-top:40px">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <span th:utext="${userName}"></span>
                </div>
                <div class="panel-body">
                    <!-- <input >
                    <button class="button">click to see weather</button> -->
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#home">Home</a></li>
                        <li><a data-toggle="tab" href="#service1">Service 1</a></li>
                        <li><a data-toggle="tab" href="#service2">Service 2</a></li>
                        <li><a data-toggle="tab" href="#steam">Steam</a></li>
                    </ul>
                    
                    <div class="tab-content">
                    <div id="home" class="tab-pane fade in active">
                        <h3>Veuillez choisir un service</h3>
                    </div>
                    <div id="service1" class="tab-pane fade">
                        <h3>Service 1</h3>
                        
                    </div>
                    <div id="service2" class="tab-pane fade">
                        <h3>Service 2</h3>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
                    </div>
                    <div id="steam" class="tab-pane fade input-group mb-3">
                        <h3>Steam</h3>
                        <select name="selectGame" id="selectGame" class="custom-select">
                            <option value="1091500" selected>Cyberpunk 2077</option>
                            <option value="945360">Among Us</option>
                            <option value="391540 ">Undertale</option>
                            <option value="400">Portal</option>
                        </select>
                        <button id=getNews class="btn">Get the news of the game you selected</button>
                        <div id=widgetSteamNews></div>

                    </div>
                    </div>
                </div>
                <p class="admin-message-text text-center" th:utext="${adminMessage}"></p>
            </div>
        </div>
    
    </div>
  
    <script>
        $("#getNews").click(function(){
            $.ajax({
                url: "/api/steam/getNews/" + $("#selectGame").val(),
                method: 'GET',        
                contentType:'application/json',
                success: function(result){
                    $("#widgetSteamNews").html(result);
                    
                    newsitems = result["appnews"]["newsitems"];
                    length = newsitems.length;
                    $("#widgetSteamNews").html("");
                    for (var i=1; i<=5; i++) {
                        $("#widgetSteamNews").append("<div id='steamNews'>"+ newsitems[length-i]["contents"]+"</div><hr>");
                    }
                    $("#widgetSteamNews").find("img").attr("class","img-fluid img-thumbnail");  

                },
                error: function(error){
                    console.log("error");
                    console.log(error.HEADERS_RECEIVED)
                }
            });
        });
    </script>
</body>
</html>