<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <script>
        $.ajax({
            url: "/about.json",
            method: 'GET',
            contentType:'application/json',
            success: function(result){
                body.append(result);
            },
            error: function(error){
                console.error("Error : " +error.responseJSON.error + ", status : "+ error.responseJSON.status)
                console.error("Message : " +error.responseJSON.message)
            }
        });

    </script>
</body>
</html>